.root{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}
    
.header{
    background-color: steelblue;
    padding: 2em;
    border: 1px solid; 
    border-color: rgb(57, 109, 151);
}

select{
    background-color: white;
}

.body {
    width: 100%;
   
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1px;
    grid-gap: 2%;
}



.repoContainer {
    display: block;
   box-sizing: border-box;;
    width: 100%;
    border: 1px solid; 
    border-color: rgb(180, 179, 179);
    padding: 10px;
    background-color: gainsboro;
    font-size: 0.5em;
    margin-top: 2%;
}

.contributors{
    width: 100%;
    background-color: white;
    font-size: 0.5em;
}

#contributiorList{
    box-sizing: content-box;
    width: 100%;
}

.contributorContainer{
    display: block;
    box-sizing: border-box;;
    width: 100%;
    border: 1px solid; 
    border-color: rgb(180, 179, 179);
    padding: 10px;
    background-color: gainsboro;
    margin-top: 2%;
    margin-bottom: 2%;
}

.contributorContainer h3{
    background-color: rgb(180, 179, 179);
    padding: 1%;
    border-radius: 15px;
}

img {
    width: 70%;
}

#modal {
    display: none;
    position: absolute;
    left: 43%;
    width: 155px;
    height: 175px;
    padding:30px, 15px, 0px;
    border: 3px solid #ababab;
    box-shadow:1px 1px 10px #ababab;
    border-radius:20px;
    background-color: white;
    z-index: 1002;
    text-align:center;
    overflow: hidden;
}

#spinner {
    border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px; 
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
